.image-accordion {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.image-accordion-item {
    position: relative;
    overflow: hidden;
    width: 130px;
    height: 450px;
    border-radius: 20px;
    display: flex;
    text-align: center;
    align-items: center; /* Center vertically */
    background: linear-gradient(to bottom, #061b24, #072031, #061b24);
    opacity: 1;
    transition: 2s;
}



.image-accordion-item h2 {
    font-size: 20px;
    font-weight: 600;
    color: #6CEDFF;
}

.image-accordion-item.active {
    width: 300px;
    opacity: 1;
}

.image-accordion-item .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    opacity: 0;
    transition: 0.5s;
    display:none;
}

.image-accordion-item .out_content {
    z-index: 1;
    text-align: center;
    transition: 0.5s;
    padding:0px 20px;
    
}

.image-accordion-item.active .content {
    opacity: 1;
    visibility: visible;
    display:block;
}

.image-accordion-item.active .out_content {
    opacity: 0;
    padding: 30px;
    visibility: hidden;
}

@media screen and (min-width: 1024px) and (max-width:1280px) {
    .image-accordion-item {
        width: 100px;
    }
    .image-accordion-item.active {
        width: 150px;
        opacity: 1;
    }
    .image-accordion-item.active .content {
        opacity: 1;
        visibility: visible;
        padding:-20px;
        
    }
}