---
import Layout from "../layouts/Layout.astro";
import HeroText from "../components/homsecreen/HeroText";
---

<Layout>
    <>
    <section
        class="h-screen flex justify-center  items-center lg:text-7xl text-4xl font-bold text-center text-[#7DFEF7] pt-[10vh]"
    >
        <HeroText client:visible />
    </section>
    </section>
</Layout>
