---
import Layout from "../layouts/Layout.astro";
import Splashscreen from "../components/splashscreen/Splashscreen";
---

<Layout>
    <main>
        <Splashscreen client:load />
    </main>
</Layout>
