---

---

<div class="relative z-0 lg:mx-32 md:mx-32 sm:mx-12 backdrop-blur-md">
    <section
        id="contact"
        class="h-0.5 bg-gradient-to-r from-[#055A98] to-[#6CEDFF] my-4"
    >
    </section>
    <footer>
        <div
            class="pb-12 text-gray-800 flex flex-wrap lg:flex-nowrap items-center"
        >
            <div
                class="p-12 mr-[-70px] order-4 lg:order-1 sm:w-screen md:flex-col md:w-screen md:flex sm:flex sm:flex-col"
            >
                <a
                    href="https://ieeecsvitc.com"
                    class="sm:self-center md:self-center"
                >
                    <img
                        src="/comsocLogowhite.webp"
                        class="w-[40vw] object-cover lg:w-[20vw]"
                        alt="IEEE CS VITC Logo"
                    />
                </a>
            </div>
            <div
                class="mt-3 w-full lg:w-2/12 py-6 lg:py-0 hidden lg:block order-1 lg:order-2 ml-[10vw]"
            >
                <div class="text-lg lg:text-base text-white inline-block mb-3">
                    Menu
                    <div id="underlineGradient"></div>
                </div>
                <a
                    href="#"
                    class="my-3 block text-white hover:text-gray-200 text-sm"
                >
                    Home
                </a>
                <a
                    href="#about"
                    class="my-3 block text-white hover:text-gray-200 text-sm"
                >
                    About
                </a>
                <a
                    href="#domains"
                    class="my-3 block text-white hover:text-gray-200 text-sm"
                >
                    Domains
                </a>
                <a
                    href="#timeline"
                    class="my-3 block text-white hover:text-gray-200 text-sm"
                >
                    Timeline
                </a>
                <a
                    href="#sponsors"
                    class="my-3 block text-white hover:text-gray-200 text-sm"
                >
                    Sponsors
                </a>
                <a
                    href="#faqs"
                    class="my-3 block text-white hover:text-gray-200 text-sm"
                >
                    FAQs
                </a>
            </div>
            <div
                class="mt-3 sm:w-screen md:flex-col md:w-screen md:flex sm:flex sm:flex-col w-full lg:w-3/12 order-2 lg:order-3"
            >
                <div
                    class="text-lg sm:self-center md:self-center lg:text-base text-white inline-block mb-3"
                >
                    Address
                    <div id="underlineGradient"></div>
                </div>
                <a
                    href="https://goo.gl/maps/C9UE9JLWnBAfQPKe7"
                    target="_blank"
                    rel="noreferrer"
                    class="my-3 block text-white hover:text-gray-200 text-base lg:text-sm lg:pr-16 md:self-center sm:self-center"
                >
                    <section>Kelambakkam - Vandalur Rd,</section>
                    <section>Rajan Nagar, Chennai,</section>
                    <section></section>
                    <section>Tamil Nadu - 600127.</section>
                </a>
                <br />
                <div
                    class="text-lg sm:self-center md:self-center lg:text-base text-white inline-block mb-3"
                >
                    Email
                    <div id="underlineGradient"></div>
                </div>
                <a
                    href="mailto:ieeecomputersociety@vit.ac.in"
                    target="_blank"
                    rel="noreferrer"
                    class="my-3 block text-white hover:text-gray-200 text-base lg:text-sm md:text-center sm:text-center"
                >
                    ieeecomputersociety@vit.ac.in
                </a>
            </div>
            <div
                class="mt-3 w-full sm:w-screen sm:flex md:flex-col md:w-screen md:flex sm:flex-col lg:w-3/12 order-3 lg:order-4"
            >
                <div
                    class="text-lg lg:text-base text-white inline-block mb-3 md:self-center sm:self-center"
                >
                    Social Media
                    <div id="underlineGradient"></div>
                </div>
                <div class="grid grid-cols-4 lg:pr-16">
                    <div>
                        <a
                            href="https://www.instagram.com/compsoc.vitcc/"
                            target="_blank"
                            rel="noreferrer"
                        >
                            <img
                                src="/assets/socialmedia/instagram.webp"
                                alt="Instagram"
                                class="h-7 my-5 mx-auto lg:mx-0"
                            />
                        </a>
                    </div>
                    <div>
                        <a
                            href="https://discord.gg/6vkY3kcZnE"
                            target="_blank"
                            rel="noreferrer"
                        >
                            <img
                                src="/assets/socialmedia/discord.webp"
                                alt="Discord"
                                class="h-7 my-5 mx-auto lg:mx-0"
                                width="32"
                                height="32"
                            />
                        </a>
                    </div>
                    <div>
                        <a
                            href="https://github.com/ComputerSocietyVITC"
                            target="_blank"
                            rel="noreferrer"
                        >
                            <img
                                src="/assets/socialmedia/github.webp"
                                alt="Github"
                                class="h-7 my-5 mx-auto lg:mx-0"
                                width="32"
                                height="32"
                            />
                        </a>
                    </div>
                    <div>
                        <a
                            href="https://www.linkedin.com/company/ieee-computer-society-vit-chennai/"
                            target="_blank"
                            rel="noreferrer"
                        >
                            <img
                                src="/assets/socialmedia/linkedin.webp"
                                alt="LinkedIn"
                                class="h-7 my-5 mx-auto lg:mx-0"
                                width="32"
                                height="32"
                            />
                        </a>
                    </div>
                    <div>
                        <a
                            href="https://www.youtube.com/channel/UCOgwDinZGau4rwv3swAe-nQ"
                            target="_blank"
                            rel="noreferrer"
                        >
                            <img
                                src="/assets/socialmedia/youtube.webp"
                                alt="youtube"
                                class="h-7 my-5 mx-auto lg:mx-0"
                                width="32"
                                height="32"
                            />
                        </a>
                    </div>
                    <div>
                        <a
                            href="https://t.me/IEEE_CS_VIT_Chennai"
                            target="_blank"
                            rel="noreferrer"
                        >
                            <img
                                src="/assets/socialmedia/telegram.webp"
                                alt="telegram"
                                class="h-7 my-5 mx-auto lg:mx-0"
                                width="32"
                                height="32"
                            />
                        </a>
                    </div>
                    <div>
                        <a
                            href="https://twitter.com/ieeecsvitc"
                            target="_blank"
                            rel="noreferrer"
                        >
                            <img
                                src="/assets/socialmedia/twitter.webp"
                                alt="twitter"
                                class="h-7 my-5 mx-auto lg:mx-0"
                                width="32"
                                height="32"
                            />
                        </a>
                    </div>
                    <div>
                        <a
                            href="https://dev.to/ieeecsvitc"
                            target="_blank"
                            rel="noreferrer"
                        >
                            <img
                                src="/assets/socialmedia/devto.webp"
                                alt="devto"
                                class="h-7 my-5 mx-auto lg:mx-0"
                                width="32"
                                height="32"
                            />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>

<style>
    #underlineGradient {
        height: 1px;
        margin-left: 3px;
        margin-right: 3px;
        background: linear-gradient(to right, #055a98, #6cedff);
        border-radius: 50px;
    }
</style>
