.title {
    display: inline-block;
    font-size: 113.92px;
    font-weight: 800;
    line-height: 137.87px;
    text-align: left;
    color: #31CF9F;
    width: 100%;
    text-align: center;
}

.title-text {
    display: inline-block;
    color: white;
    font-weight: 800;
}
