@tailwind base;
@tailwind components;
@tailwind utilities;


/* Hide scrollbars in WebKit-based browsers (Chrome, Safari) */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbars in other browsers (Firefox, Edge) */
body {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;     /* Firefox */
}

/* Optional: Ensure overflow behavior is maintained */


/* If you need scrollable areas without scrollbars */
.scrollable-container {
  overflow: auto; /* or overflow-y: auto; for vertical scrolling */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none;    /* Firefox */
}

.scrollable-container::-webkit-scrollbar {
  display: none;
}

div {
  font-family: 'Montserrat', sans-serif;
}

.custom-underline {
  position: relative;
  text-decoration: none;
}

.custom-underline::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0; /* Start position */
  width: 0; /* Initial width */
  height: 2px; /* Adjust the thickness of the underline */
  background-color: #10b981;
  transition: width 0.3s ease-in-out, left 0.3s ease-in-out; /* Transition both width and left position */
}

.custom-underline:hover::after {
  width: 100%; /* Expand to 100% */
  left: 0; /* Start from the left */
}

.icon {
  fill: black;
  stroke: white;
  stroke-width: 20;
}


/* index.css */
.custom-underline-gradient {
  display: inline-block;
  position: relative;
}

.custom-underline-gradient::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px; /* Adjust the thickness of the underline */
  background: linear-gradient(to right, green, yellow);
  position: absolute;
  bottom: -2px; /* Adjust the distance from the text */
  left: 0;
}

.link-activee {
  color: white;
}

.events-container {
  max-width: 124rem;
  padding: 4rem 1rem;
  margin: 0 auto;
}

.swiper-container {
  height: 36rem;
  padding: 2rem 0;
  position: relative;
}

.swiper-slide {
  width: 28rem;
  height: 36rem;
  position: relative;
}

.swiper-slide img {
  width: 28rem;
  height: 36rem;
  border-radius: 1rem;
  object-fit: cover;
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

.slider-controler {
  position: relative;
  bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 500px) {
  .swiper-container {
    height: 36rem;
  }
  .swiper-slide {
    width: 28rem !important;
    height: 36rem !important;
  }
  .swiper-slide img {
    width: 28rem !important;
    height: 36rem !important;
  }
}

.swiper-pagination {
  position: relative;
  width: 15rem !important;
  bottom: 1rem;
}

.swiper-pagination .swiper-pagination-bullet {
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.swiper-pagination .swiper-pagination-bullet-active {
  background: white;
}
