---

---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <meta charset="utf-8" />
        <meta name="title" content="IEEE Computer Society VIT Chennai" />
        <meta
            name="description"
            content="IEEE Computer Society VIT Chennai is a zealous community of diverse minds striving to Learn, Create, (sometimes Break!), Develop, and Explore."
        />
        <meta
            name="keywords"
            content="ieeecsvitc, ieeecs, IEEE CS VIT Chennai, IEEE CS VIT, IEEE Computer Society, IEEE Computer Society VIT Chennai, Comsoc, comsoc.vitcc, Comsoc VITCC, HackHub, Paradox, DataHub, CyberTrunk"
        />
        <meta name="robots" content="index, follow" />
        <meta name="language" content="English" />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap"
        />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap"
        />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap"
        />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="theme-color" content="#000000" />

        <link
            rel="apple-touch-icon"
            href="%PUBLIC_URL%/apple-touch-icon.webp"
        />
        <title>IEEE Computer Society - VITC</title>
    </head>
    <body>
        <slot>Base Layout</slot>
    </body>
</html>
