---
import "@fontsource/montserrat/700.css";
import "@fontsource/montserrat/600.css";
import "@fontsource/montserrat/500.css";
import "@fontsource/montserrat/400.css";
import "@fontsource/montserrat/300.css";
import "@fontsource/montserrat/200.css";
import "@fontsource/montserrat/100.css";
import "@fontsource/montserrat/800.css";
import "@fontsource/montserrat/900.css";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <meta charset="utf-8" />
        <meta name="title" content="IEEE Computer Society VIT Chennai" />
        <meta
            name="description"
            content="IEEE Computer Society VIT Chennai is a zealous community of diverse minds striving to Learn, Create, (sometimes Break!), Develop, and Explore."
        />
        <meta
            name="keywords"
            content="ieeecsvitc, ieeecs, IEEE CS VIT Chennai, IEEE CS VIT, IEEE Computer Society, IEEE Computer Society VIT Chennai, Comsoc, comsoc.vitcc, Comsoc VITCC, HackHub, Paradox, DataHub, CyberTrunk"
        />
        <meta name="robots" content="index, follow" />
        <meta name="language" content="English" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="theme-color" content="#000000" />

        <link
            rel="apple-touch-icon"
            href="%PUBLIC_URL%/apple-touch-icon.webp"
        />
        <title>IEEE Computer Society - VITC</title>
    </head>
   
    </section>
    <body>
        <slot />
    </body>
    <style is:global>
        :root {
            --accent-from: #091b1c; /* Updated color */
            --accent-to: #02020b; /* Updated color */
            --accent-to2: #080225;
            --accent-gradient: linear-gradient(
                to bottom,
                var(--accent-from),
                /* Start color at 50% */ var(--accent-to),
                /* Middle color at 70% */ var(--accent-to2)
                    /* End color at 100% */
            );
        }

        html {
            background-color: black;
            cursor: url("/assets/cursor.svg"), auto;
        }

        body {
            background-color: transparent;
            -ms-overflow-style: none; /* Internet Explorer 10+ */
            scrollbar-width: none; /* Firefox */
            scroll-behavior: smooth;
        }

        ::-webkit-scrollbar {
            display: none;
        }

        * {
            font-family: "Montserrat", sans-serif;
        }

        .custom-underline {
            position: relative;
            text-decoration: none;
        }

        .custom-underline::after {
            content: "";
            position: absolute;
            bottom: -2px;
            left: 0;
            width: 0;
            height: 2px;
            background-color: #10b981;
            transition:
                width 0.3s ease-in-out,
                left 0.3s ease-in-out;
        }

        .custom-underline:hover::after {
            width: 100%;
            left: 0;
        }
    </style>


</html>
